<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="row">
      <% @pets.each do |pet| %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= pet.image_url %>" alt="Card image">
            <div class="card-body">
              <h5 class="card-title"><%= pet.name %></h5>
              <p class="card-text"><%= pet.description %></p>
               <%= link_to "Find out more", pet_path(pet), class: "btn btn-primary" %>
            </div>
        </div>
      <% end %>
    </div>  
  </div>
</div>
