<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="card">
        <img src="https://res.cloudinary.com/drrxcbatq/image/upload/v1574865021/banner2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Adoptions</h5>
          <p class="card-text">Your pet is getting a new home!</p>
        </div>
          <% if %>
            
          <% end %>
          
          <% @adoptions.each do |adoption| %>        
          <div class="notification">
            <%= image_tag adoption.pet.image_url, class: "avatar-large" %>
            <div class="notification-content">
              <p><small><%= adoption.created_at %></small></p>
              <p><strong><%= adoption.user.email %></strong> wants to adopt <strong><%= adoption.pet.name %></strong></p>
            </div>
            <div class="notification-actions">
              <a href="#">Acknowledge</a>
            </div>
          </div>
          <% end %>

      </div>
    </div>  
  </div>  
</div>


